/* badUx.css */
body {
  font-family: sans-serif;
  width: 100%;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 40px;
}

img {
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  font-size: 18px;
  padding: 6px;
}

form {
  text-align: center;
}